@import "tailwindcss";

@font-face {
  font-family: 'Bebas Neue Cyrillic';
  src: url('/fonts/BebasNeueCyrillic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
}


